body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #16222a, #3a6073);
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

#blinkingText {
    font-size: 2em;
    color: whitesmoke;
}
